---
const { title, id, className } = Astro.props;
---

<section
  class:list={[
    "bg-primary/1 border-primary border-4 p-4",
    "print:border-0 print:p-0",
    className,
  ]}
  id={id}
>
  <h2 class="text-3xl font-black">
    {title}
  </h2>
  <slot />
</section>
