@use '../mixins';

.background {
  color: white;
  background-color: #17171d;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include mixins.container-copy;
  padding: 0 1rem;
}
