@use '../mixins';
@use '../variables';

.background {
  color: variables.$color-light;
  background-color: variables.$color-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include mixins.container-copy;
  padding: 1rem;
}
