@use "../variables";

.normal {
  background-color: variables.$primary-foreground;
  background: variables.$primary-gradient;
  height: 10rem;
  display: flex;
  align-items: center;
  color: variables.$color-light;
  margin: 0;
  padding: 0;
}

.diagonal {
  background-color: variables.$primary-foreground;
  background: variables.$primary-gradient;
  height: 14rem;
  clip-path: normal;
  display: flex;
  align-items: center;
  color: variables.$color-light;
  margin: 0;
  padding: 0;

  @media screen and (min-width: variables.$breakpoint-medium) {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }
}
