@use '../mixins';
@use '../variables';

.container {
  @include mixins.container-copy;
  margin: 0 auto;
  padding: 0 16px;
}

.greeting {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.125;
  padding: 0.375rem 0;
}

.gradient {
  background-image: variables.$primary-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  @media screen and (min-width: variables.$breakpoint-small) {
    grid-template-columns: 1fr 1fr;
  }
}
