@use "../variables";

.container {
  font-size: 0.875rem;
  @media screen and (min-width: variables.$breakpoint-small) {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    a {
      color: variables.$color-light;
    }
  }
}
