/* Table of Contents
1.0: Global
 1.1: Nav Bar
2.0: Homepage Specific
3.0: Dashboard Specific
4.0: Easy Button Specific
*/


/* 1.0: Global */
html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    font-weight: 300;
}

/* 1.1: Nav Bar */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e42d40;
}

.nav li {float: left;}

.nav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

.nav li a:hover, .dropdown:hover {background-color: #555;}

.nav li.dropdown {display: inline-block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {display: block;}

/* 2.0: Homepage Specific */
#content {
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 50%;
}

/* 3.0: Dashboard Specific */
#news {
    font-size: 1.5em;
    line-height: 1.5em;
}

#news a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #e42d40;
}

#news a:hover {font-style: italic;}

/* 4.0: Easy Button Specific */
#easy {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 50px;
    color: white;
}




