/* Table of Contents
1.0: Global
 1.1: Nav Bar
2.0: Homepage Specific
3.0: Dashboard Specific
4.0: Easy Button Specific
5.0: Sketchpad Specific
6.0: Platform Runner Specific
*/


/* 1.0: Global */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700");
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700);

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

#content {
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

#footer {
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-weight: 100;
    margin: 10px 0 0 0;
    font-size: 5em;
    text-align: center;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 700;
    color: #e42d40;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #e42d40;
}

/* 1.1: Nav Bar */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e42d40;
    width: 100%;
}

.nav-top {
    float: left;
}

.nav-top a {
    display: block;
    color: #f2f2f2;
    padding: .875em 1em;
    transition: 0.3s;
    font-size: 1.2em;
    font-weight: 300;
    border-bottom: 0;
}

.nav-top:hover .nav-dropdown-content {
    display: block;
}

.nav-top a:hover {
    background-color: #555;
    color: #fff;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px .6em 3em 0px rgba(0,0,0,0.3);
}

.nav-dropdown-content a {
    color: black;
    display: block;
    font-size: 1.05em;
    border-bottom: 2px solid #e42d40;
}

/* 2.0: Homepage Specific */
.bullets li {
    padding-top: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main {
    width: 59%;
}

.alt {
    width: 39%;
}

.mobile {
    display: none;
}

.inline-image {
    float: left;
    margin-right: 10px;
    width: 40%;
}

@media (max-width: 50em) {
    .main, .alt {width: 100%;}
    .mobile {display: block;}
    .inline-image {max-width: 150px;}
    h1 {font-size: 3em}
}

/* 3.0: Dashboard Specific */
#news {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
}

/* 4.0: Easy Button Specific */
#easy {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 50px;
    color: white;
}

/* 5.0: Sketchpad Specific */
#sketch {
    width: 500px;
    height: 500px;
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: auto;
}

#controls {
    width: 400px;
    margin: auto;
}

/* 6.0: Platform Runner Specific */
#startScreen {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    
}

#startButton {
    position: absolute;
}

#flex {
    display: flex;
    align-items: center;
    justify-content: center;
}