body {font-family: Avenir Next, Helvetica, sans-serif;}

#content {
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 50%;
}

h1 {color: #e42d40;}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e42d40;
}

ul.nav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.nav li {float: left;}

ul.nav li a:hover {background-color: #333;}

ul.nav li .active {background-color: #555;}