.trapezoid {
  background: #A8DCD9;
  background: linear-gradient(291.27deg, #A8DCD9 0%, #FBFFFE 100%);
  width: 100%;
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  margin: 0;
  padding: 0;
}
