<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation"><i class="fa fa-fw fa-2x fa-bars"></i></button>
      <a href="#home" class="nav-brand brand-mobile" style="display: none;">{{ site.title }}</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="#home" class="nav-brand brand-desktop">{{ site.title }}</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
