html {
    font-family: Avenir Next, Helvetica, sans-serif;
}

#content {
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
}

#news a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #e42d40;
}

#news a:hover {
    font-style: italic;
}

h1, h2, #news {
    font-weight: 300;
}

#news {
    font-size: 1.5em;
    line-height: 1.5em;
}

ul.nav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #e42d40;
}
ul.nav li {float: left;}

ul.nav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.nav li a:hover {background-color: #333;}

ul.nav li .active {
    background-color: #555;
}