@media only screen and (max-width: 768px) { // mobile
  p {
    font-size: 18px;
  }

  .title {
    font-size: 400%;
  }

  .next {
    font-size: 100%;
  }
  .heading {
    font-size: 200%;
  }

  h1.featurette-heading {
    margin-top: 0;
    font-size: 350%;
  }

  h2.featurette-heading {
    font-size: 200%;
  }
}

@media only screen and (min-width: 768px) {
  .brand-mobile {
    display: none !important;
  }

  .brand-desktop {
    display: inherit !important;
  }

  .navbar a.active:hover {
    padding-top: 11px;
    margin-top: 14px;
    padding-bottom: 11px;
    margin-bottom: 14px;
  }
}
