$light-blue: #C4FFF9 !default;
$mid-blue: #9CEAEF !default;
$dark-blue: #07BEB8 !default;
$neon-blue: #26E9ED !default;
$grey: #3E484A !default;
$brand-primary: darken($dark-blue, 6.5%) !default; // #337ab7

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;
$headings-font-family:    "Poppins", "Open Sans", Helvetica, Arial, sans-serif !default;
$headings-font-weight:    500 !default;
