@use 'variables';

@mixin container-copy {
  max-width: 42.5rem;
  @media screen and (min-width: variables.$breakpoint-large) {
    max-width: 62.25rem;
  }
}

@mixin container-narrow {
  max-width: 42.5rem;
  @media screen and (min-width: variables.$breakpoint-large) {
    max-width: 48rem;
  }
}
