$primary-foreground: #157e77;
$accent-foreground: #a8dcd9;

$color-light: #fafafa;
$color-grey: #282833;
$color-dark: #17171d;

$breakpoint-small: 48rem;
$breakpoint-medium: 56rem;
$breakpoint-large: 64rem;

$primary-gradient: linear-gradient(
  45deg,
  $accent-foreground -25%,
  $primary-foreground 110%
);

$primary-gradient-ar: linear-gradient(
  -45deg,
  $accent-foreground -25%,
  $primary-foreground 110%
);
