$primary-foreground: #16837c;
$accent-foreground: #a8dcd9;

$color-light: #fafafa;
$color-grey: #282833;
$color-dark: #17171d;

$breakpoint-small: 32em;
$breakpoint-medium: 48em;
$breakpoint-large: 64em;

$primary-gradient: linear-gradient(
  45deg,
  $accent-foreground -30%,
  $primary-foreground 110%
);
