@import "tailwindcss";

@theme {
  --color-primary: var(--color-orange-600);
  --color-accent: var(--color-orange-50);

  --color-background: var(--color-stone-50);
  --color-background-secondary: var(--color-stone-100);
  --color-content: var(--color-stone-900);
}

:root {
  @variant dark {
    --color-accent: var(--color-orange-900);
    --color-background: var(--color-stone-800);
    --color-background-secondary: var(--color-stone-900);
    --color-content: var(--color-stone-50);
  }
  :focus-visible {
    outline: 3px solid var(--color-background);
    box-shadow: 0 0 0 6px var(--color-content);
  }
}
