@use "../../variables";

.background {
  color: variables.$color-light;
  background-color: variables.$color-grey;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: variables.$color-light;
  }
}

.container {
  padding: 1rem;
}
