---
---
@import "vars";

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  color: $grey;
}

a {
  text-decoration: none;
  color: $grey;
  transition: all .2s;
  &:hover, &:active {
    text-decoration: none;
    color: $dark-blue;
  }
  &:focus {
    text-decoration: none;
  }
}

footer {
  background-color: $grey;
  color: white;
  a {
    color: white;
  }
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1.featurette-heading {
  font-size: 400%;
}

h2.featurette-heading {
  font-size: 300%;
}

@import "nav";

.req {
  color: OrangeRed;
}

.home-item {
  padding: 0 15px !important;
  text-transform: lowercase;
}

.flex-item {
  margin-top: auto;
  text-align: center;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 700%;
}

.container-nav {
  margin-top: 68px;
}

.extra-big {
  margin-top: 40px;
  margin-bottom: 40px;
}

.next {
  font-weight: 500;
  text-align: center;
}

.social {
  & a {
    display: inline-block;
    text-decoration: none;
    transition: .5s;
  }
}

.lead {
  margin-bottom: 0;
}

.color-box {
  padding: 15px;
  overflow: hidden;
}

.img-left {
  margin-right: 5px;
  float: left;
  width: 25%;
}

#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // max-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#home-footer {
  margin-left: 10px;
  margin-right: 10px;
}

#one {
  background-color: white;
}

#two {
  background-color: $light-blue;
}

#three {
  background-color: $mid-blue;
}

#four {
  background-color: $dark-blue;
  & a:active, a:hover {
    color: white;
  }
}

@import "fade";

@import "media";
