---
import { astroI18n, t } from "astro-i18n";
import { Image } from "@astrojs/image/components";
import dkmsScreenshot from "../images/projects/dkms.png";
import wordificationScreenshot from "../images/projects/wordification.png";

import HeroLayout from "../layouts/HeroLayout.astro";

astroI18n.init(Astro);

const PROJECTS = [
  {
    title: t("sections.projects.wordification.title"),
    screenshot: wordificationScreenshot,
    alt: t("sections.projects.wordification.alt"),
    description: t("sections.projects.wordification.description"),
  },
  {
    title: t("sections.projects.dkms.title"),
    screenshot: dkmsScreenshot,
    alt: t("sections.projects.dkms.alt"),
    description: t("sections.projects.dkms.description"),
  },
];
---

<HeroLayout title="Dalton Craven | Home">
  <section id="about">
    <h2 class="font-bold text-3xl">{t("sections.about.header")}</h2>
    <p set:html={t("sections.about.content")} />
  </section>

  <section id="journey">
    <h2 class="font-bold text-3xl">{t("sections.journey.header")}</h2>
    <p set:html={t("sections.journey.content1")} />
    <p set:html={t("sections.journey.content2")} />
    <p set:html={t("sections.journey.content3")} />
  </section>

  <section id="projects">
    <h2 class="font-bold text-3xl">{t("sections.projects.header")}</h2>
    <ul class="grid md:grid-cols-2 gap-4">
      {
        PROJECTS.map((project) => (
          <li class="bg-stone-50 text-stone-700 rounded-lg shadow-xl">
            <h3
              class="py-2 px-4 font-bold tracking-wide text-center bg-stone-700 text-stone-50 rounded-t-lg uppercase"
              set:html={project.title}
            />
            <Image
              class="object-cover"
              src={project.screenshot}
              height={512}
              alt={project.alt}
            />

            <p class="px-3 py-2" set:html={project.description} />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="skills">
    <h2 class="font-bold text-3xl">{t("sections.skills.header")}</h2>
    <ul>
      <li set:html={t("sections.skills.spokenLanguages")} />
      <li set:html={t("sections.skills.techLanguages")} />
      <li set:html={t("sections.skills.frameworks")} />
      <li set:html={t("sections.skills.certifications")} />
    </ul>
  </section>

  <section id="contact">
    <h2 class="font-bold text-3xl">{t("sections.contact.header")}</h2>
    <ul>
      <li set:html={t("sections.contact.americanPhone")} />
      <li set:html={t("sections.contact.email")} />
      <li set:html={t("sections.contact.github")} />
      <li set:html={t("sections.contact.gitlab")} />
      <li set:html={t("sections.contact.linkedin")} />
      <li set:html={t("sections.contact.gpg")} />
    </ul>
  </section>
</HeroLayout>
