---
import ToggleStyleButton from "../components/ToggleStyleButton.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { astroI18n, t, l } from "astro-i18n";

astroI18n.init(Astro);
---

<BaseLayout title="Dalton Craven | Scaffold">
  <header>
    <h1>{t("header.name")}</h1>
    <ToggleStyleButton />
    <ul>
      <li>
        <a href={l(Astro.url.pathname, {}, "en")}>{t("en")}</a>
      </li>
      <li>
        <a href={l(Astro.url.pathname, {}, "fr")}>{t("fr")}</a>
      </li>
      <li>
        <a href={l(Astro.url.pathname, {}, "ar")} set:html={t("fr-parisian")} />
      </li>
    </ul>
    <!-- <nav>
      <ul>
        <li><a href="#about">{t("header.nav.about")}</a></li>
        <li><a href="#projects">{t("header.nav.projects")}</a></li>
        <li><a href="#skills">{t("header.nav.skills")}</a></li>
        <li><a href="#hobbies">{t("header.nav.hobbies")}</a></li>
        <li><a href="#contact">{t("header.nav.contact")}</a></li>
      </ul>
    </nav> -->
  </header>

  <section id="about">
    <h2>{t("sections.about.header")}</h2>
    <p set:html={t("sections.about.content")} />
  </section>

  <section id="journey">
    <h2>{t("sections.journey.header")}</h2>
    <p set:html={t("sections.journey.content1")} />
    <p set:html={t("sections.journey.content2")} />
    <p set:html={t("sections.journey.content3")} />
  </section>

  <section id="projects">
    <h2>{t("sections.projects.header")}</h2>
    <div>
      <h3>{t("sections.projects.content1.title")}</h3>
      <p set:html={t("sections.projects.content1.description")} />
    </div>
    <div>
      <h3>{t("sections.projects.content2.title")}</h3>
      <p set:html={t("sections.projects.content2.description")} />
    </div>
  </section>

  <section id="skills">
    <h2>{t("sections.skills.header")}</h2>
    <ul>
      <li set:html={t("sections.skills.content1")} />
      <li set:html={t("sections.skills.content2")} />
      <li set:html={t("sections.skills.content3")} />
      <li set:html={t("sections.skills.content4")} />
    </ul>
  </section>

  <section id="contact">
    <h2>{t("sections.contact.header")}</h2>
    <ul>
      <li set:html={t("sections.contact.content1")} />
      <li set:html={t("sections.contact.content2")} />
      <li set:html={t("sections.contact.content3")} />
      <li set:html={t("sections.contact.content4")} />
      <li set:html={t("sections.contact.content5")} />
      <li set:html={t("sections.contact.content6")} />
    </ul>
  </section>

  <footer>
    <p>{t("footer.content")}</p>
  </footer>
</BaseLayout>
