---
import { astroI18n, t } from "astro-i18n";
import { Image } from "@astrojs/image/components";
import dkmsScreenshot from "../images/projects/dkms.png";
import wordificationScreenshot from "../images/projects/wordification.png";

import HeroLayout from "../layouts/HeroLayout.astro";

astroI18n.init(Astro);
---

<HeroLayout title="Dalton Craven | Home">
  <section id="about">
    <h2 class="font-bold text-3xl">{t("sections.about.header")}</h2>
    <p set:html={t("sections.about.content")} />
  </section>

  <section id="journey">
    <h2 class="font-bold text-3xl">{t("sections.journey.header")}</h2>
    <p set:html={t("sections.journey.content1")} />
    <p set:html={t("sections.journey.content2")} />
    <p set:html={t("sections.journey.content3")} />
  </section>

  <section id="projects">
    <h2 class="font-bold text-3xl">{t("sections.projects.header")}</h2>
    <ul class="grid md:grid-cols-2 gap-4">
      <li>
        <h3 class="text-xl">
          {t("sections.projects.wordification.title")}
        </h3>
        <Image
          src={wordificationScreenshot}
          height={512}
          alt={t("sections.projects.wordification.alt")}
        />
        <p
          class="text-sm"
          set:html={t("sections.projects.wordification.description")}
        />
      </li>
      <li>
        <h3 class="text-xl">{t("sections.projects.dkms.title")}</h3>
        <Image
          src={dkmsScreenshot}
          height={512}
          alt={t("sections.projects.dkms.alt")}
        />
        <p class="text-sm" set:html={t("sections.projects.dkms.description")} />
      </li>
    </ul>
  </section>

  <section id="skills">
    <h2 class="font-bold text-3xl">{t("sections.skills.header")}</h2>
    <ul>
      <li set:html={t("sections.skills.spokenLanguages")} />
      <li set:html={t("sections.skills.techLanguages")} />
      <li set:html={t("sections.skills.frameworks")} />
      <li set:html={t("sections.skills.certifications")} />
    </ul>
  </section>

  <section id="contact">
    <h2 class="font-bold text-3xl">{t("sections.contact.header")}</h2>
    <ul>
      <li set:html={t("sections.contact.americanPhone")} />
      <li set:html={t("sections.contact.email")} />
      <li set:html={t("sections.contact.github")} />
      <li set:html={t("sections.contact.gitlab")} />
      <li set:html={t("sections.contact.linkedin")} />
      <li set:html={t("sections.contact.gpg")} />
    </ul>
  </section>
</HeroLayout>
