---
interface Props {
  title: string;
  id?: string;
  variant?: "base" | "secondary";
}
const { title, id, variant = "base" } = Astro.props;
---

<div
  class:list={[
    "border-primary/20 rounded-lg border p-4 md:p-6",
    variant === "base" ? "bg-background" : "bg-background-secondary",
  ]}
  id={id}
>
  <h3 class="text-primary mb-1 text-xl font-semibold">{title}</h3>
  <slot />
</div>
