---
import { t, l } from "astro-i18n";
---

<header>
  <h1>{t("header.intro.title")}</h1>
  <p>{t("header.intro.subtitle")}</p>
  <nav>
    <p>{t("header.nav.intro")}</p>
    <ul>
      <li>
        <a href={l("/", {}, "en")}>{t("header.nav.options.en")}</a>
      </li>
      <li>
        <a href={l("/", {}, "fr")}>{t("header.nav.options.fr")}</a>
      </li>
      <li>
        <a href={l("/", {}, "ar")} set:html={t("header.nav.options.ar")} />
      </li>
    </ul>
  </nav>
</header>
