---
interface Props {
  title: string;
  href: string;
  className?: string;
}
const { href, title, className } = Astro.props;
---

<li class={className}>
  <a
    class="hover:decoration-primary focus:decoration-primary inline-block py-2 underline underline-offset-2 sm:p-4"
    href={href}
  >
    {title}
  </a>
</li>
