---
interface Props {
  title: string;
  href: string;
}
const { href, title } = Astro.props;
---

<li>
  <a
    class="hover:decoration-primary inline-block py-2 underline underline-offset-2 sm:px-6 sm:py-4"
    href={href}
  >
    {title}
  </a>
</li>
