---
import { astroI18n, t, l } from "astro-i18n";
const otherCodes = astroI18n.langCodes.filter((l) => l !== astroI18n.langCode);
---

<ul>
  {
    otherCodes.map((code) => (
      <li>
        <a href={l(Astro.url.pathname, {}, code)}>
          {t(`header.languages.${code}`)}
        </a>
      </li>
    ))
  }
</ul>
