---
import { astroI18n, t, l } from "astro-i18n";
const otherCodes = astroI18n.langCodes.filter((l) => l !== astroI18n.langCode);
---

<p>
  <a
    href={l(Astro.url.pathname, {}, otherCodes[0])}
    set:html={`${t("header.languages.intro")} ${t(
      `header.languages.${otherCodes[0]}`
    )}`}
  />
  {
    /*
  {t("header.languages.or")}
  <a
    href={l(Astro.url.pathname, {}, otherCodes[1])}
    set:html={t(`header.languages.${otherCodes[1]}`)}
  />
  */
  }
</p>
