---
import { t } from "astro-i18n";
import Feature from "./Feature.astro";
---

<!-- TODO: figure out grid -->
<section>
  <h2 class="sr-only">{t("Features.header")}</h2>
  <Feature header={t("Features.education.header")}>
    <p set:html={t("Features.education.firstParagraph")} />
  </Feature>
  <Feature header={t("Features.study_abroad.header")}>
    <p set:html={t("Features.study_abroad.firstParagraph")} />
  </Feature>
  <Feature header={t("Features.work.header")}>
    <p set:html={t("Features.work.firstParagraph")} />
    <p set:html={t("Features.work.secondParagraph")} />
  </Feature>
  <Feature header={t("Features.freelance.header")}>
    <p set:html={t("Features.freelance.firstParagraph")} />
    <p set:html={t("Features.freelance.secondParagraph")} />
  </Feature>
</section>
