---
import { astroI18n } from "astro-i18n";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "~/assets/base.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;

// const dir = astroI18n.langCode === "ar" ? "rtl" : "ltr";c
const dir = "ltr";
---

<!DOCTYPE html>
<html lang={astroI18n.langCode} dir={dir} class="bg-orange-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content="Dalton Craven personal website." />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#f97316" />
  </head>
  <body
    class="min-h-screen flex flex-col bg-stone-50 text-stone-950 dark:bg-stone-950 dark:text-stone-50"
  >
    <slot />
  </body>
</html>
