---
import QuickLinks from "../components/QuickLinks.astro";
import TranslationMenu from "../components/TranslationMenu.astro";
import BaseLayout from "./BaseLayout.astro";
import { t } from "astro-i18n";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <header>
    <a
      href="#main"
      class="transition left-0 top-0 absolute p-3 m-3 -translate-y-16 focus:translate-y-0 bg-slate-900 text-slate-50"
      >Skip to content</a
    >
    <h1>{t("header.name")}</h1>
    <QuickLinks />
    <TranslationMenu />
  </header>
  <hr />
  <main id="main">
    <slot />
  </main>
  <footer>
    <p>{t("footer.content")}</p>
  </footer>
</BaseLayout>
